[2019-06-28 19:59] darltrash opened #1 "When i try to run the style editor or making a multiline input, a error pops out"
When i try to run the style editor or making a multiline input, a error pops out

[code]

[2019-06-29 20:03] darlex256 commented on #1
The multiline problem solves if i add " Text='' " on the options

[2019-07-09 06:43] BestHatzker opened #2 "The screen blinks when I press the right mouse button"
The screen blinks when I press the right mouse button. Under the blink, I mean the brightness plays a little

[2019-07-09 06:50] BestHatzker commented on #2
Blinks when i press processed keys in love.keypressed(key)

[2019-07-09 07:12] BestHatzker commented on #2
We have both buttons screwed to redraw the screen... probably this is the case

[2019-07-09 07:58] BestHatzker commented on #2
Further research has shown that the window with Love is lighter without using Slab. and therefore when redrawing and blinking

[2019-07-10 21:06] coding-jackalope commented on #2
Hi BestHatzker,

When you say screen, do you mean the viewport presented by Love, or do you mean a Slab window? Also, could you provide a gif showing this behavior? This would be helpful in figuring out what the issue may be. Thanks.

[2019-07-10 21:08] coding-jackalope commented on #1
Hi darlex256, sorry for the late reply. I can take a look at this and make sure the Text option has a valid string. Thanks.

[2019-08-30 14:43] krassell opened #3 "Scrolling permanently breaks any intereaction"
Slab stops reacting to any kind of mouse interaction and [almost any] keyboard interaction if you scroll your mousewheel in certain areas.

Scrolling while hovering over combo boxes, input fields and window titles triggers this reliably for me.

[2019-09-03 09:43] BestHatzker commented on #2
It was a problem with the incorrect placement of slab.update in our program. we are doing well now. thank

[2019-09-03 09:43] #2 closed

[2019-09-03 09:46] BestHatzker opened #4 "How can I overlay one image on another with a transparent background using Slab.Image?"
I studied Wiki (Image, Layouts and Window), but dont understand how i can do this. Please explain to me

[2019-09-04 21:05] coding-jackalope commented on #3
Hi krassell,

Sorry for the late reply. I was able to reproduce this issue and will looking at a fix for this in the next update. Thanks.

[2019-09-04 21:17] coding-jackalope commented on #4
Hi BestHatzker,

Correct me if I am misunderstanding this, but from your question it seems you want to draw two different images on top of each other. To do this, you just need to place the cursor back at the position of the first image drawn.

[code]

If this isn't what you are looking for, please elaborate what it is you are trying to accomplish and possibly provide a screenshot.

[2019-09-05 00:05] coding-jackalope commented on #3
Hi krasell,

I went ahead and added the fix to this issue on the main branch and put out release version 0.6.1 that contains this fix. Try this release out when you get a chance and let me know if this issue still persists. If not, I will close this issue within a week.

[2019-09-05 03:30] krassell commented on #3
It indeed has stopped happening, although there is a minor bug where the WheelY doesn't get consumed when you scroll with mouse pointer over aforementioned elements and it then gets applied as soon as you move cursor out of that object.
So if you tried to scroll in input field/combo box and moved mouse out, it'd scroll parent window by your last mousewheel delta.

[2019-09-05 05:56] BestHatzker commented on #4
Thank you! It's really work :)

[2019-09-05 05:56] #4 closed

[2019-09-05 20:07] coding-jackalope commented on #3
Ah yes, I do notice this too. This one is minor compared to the previous issue so I will have a fix for this in the next update. Thanks for the info.

[2019-09-06 01:20] #3 closed

[2019-09-06 05:29] BestHatzker opened #5 "Is it possible to make a transparent window Slab or to make a picture instead of the usual background?"

[2019-09-06 16:45] coding-jackalope commented on #5
Hi BestHatzker,

Changing the background color of a window is as simple as passing the a transparent color into the BgColor option in the BeginWindow function.

[code]

The above code will retrieve the default color for window backgrounds and apply the same color with a different alpha to make the window background transparent. Remember that Lua tables are passed by reference so making a change to

[2020-03-26 13:16] flamendless opened #6 "Request for Sliders Input"
Hi, first of all, amazing library! It really is like coding using DearImGUI! Awesome. Keep up the good work :)

Aside from the clear title, is there any work/progress for sliders?

[2020-03-28 01:53] coding-jackalope commented on #6
Hi flamendless, glad this library is helping you. Sliders is something I definitely want to support. I don't have an ETA unfortunately and development has been slow but will be picking back up in the coming ups. When I do have an update, I'll be sure to update you.

[2020-03-28 04:12] flamendless commented on #6
Btw, i was thinking of implementing some kind of messaging logs or assertion (if user set it to enable) for passing properties wrong. I've spent a lot of time wondering why x isn't working, then found out it's due to "alignX" instead of "AlignX". What do you think?

[2020-03-28 16:20] belohlavek commented on #6
I'll be doing some of this for my own app, no ETA either but will share a snippet with my work when it's done. Quality may not be good enough for a PR :)

[2020-03-28 16:22] belohlavek opened #7 "Scroll Speed"
What was the rationale behind the choice of Region scroll speed?
It feels slow, I modified it for my usecase but saw someone who foked and did the same on their side.

[2020-03-28 16:25] belohlavek opened #8 "Shader Support"
What do you think abount having a Draw Shader command?

I enabled them for my own app by doing something like this:

[code]

This is my first time using Lua/Love2D, and also using an ImGUI so I don't really know if this is an anti pattern. Could you give me some feedback?

On top of my head I'm guessing that the shader should only be created once and reused/disposed

[2020-03-28 17:36] flamendless commented on #8
Youre calling newShader every frame? That's not good.

[2020-03-28 17:51] belohlavek commented on #8
@flamendless I know, right?!
What's the best way to go about this? A table and some caching strategy?

[2020-03-28 17:57] flamendless commented on #8
Why not create the shader object in love.load? You can use a local or global variable for that, so you can reference that in the draw method. Kinda like

[code]

[2020-03-28 18:00] belohlavek commented on #8
AFAIK all `love.graphics` calls should go inside a Slab's DrawCommand
Having said that, yes, it does make sense for the app itself to handle storing the shaders rather than the library.  I'll go that way, thanks ;)

[2020-03-28 18:13] flamendless commented on #8
Well yeah, love.graphics call should go to love.draw (unless you're drawing in a canvas, in which case you could do it even in love.load and love.update)

So, draw Slab in update, applying shaders is in draw

[2020-03-28 18:26] belohlavek commented on #8
Sorry if I wasn't clear enough, I'm applying shaders to Slab widgets. It is true that shading should happen in `love.draw` but the correct way to impact, say, a Slab.Image would be (as far as I know, remember I'm a newbie 😄) to do it inside a DrawCommand. See https://github.com/coding-jackalope/Slab/blob/master/Internal/Core/DrawCommands.lua

I'm not creating a game and I am making an extensive us

[2020-03-28 18:38] coding-jackalope commented on #6
This is something I would like to have as well. While the documentation tries to have all the proper names listed for each property, there may be cases where it could be missing some. Also, having the quick feedback when running the application would help diagnose and solve problems sooner. I'll be sure to add this as a feature item in the coming updates.

[2020-03-28 18:48] coding-jackalope commented on #8
Hi @belohlavek , this would definitely be a useful feature to have. I'll be sure to add this as a feature item for an upcoming release.

My recommendation would be to create your shader object in love.load and store it within your application somewhere. Then when calling Slab.Image in your update loop, pass the shader object in with the Options table. Then inside of Image.Begin, the shader object

[2020-03-28 18:50] belohlavek commented on #8
Awesome, that's exactly what I have implemented right now!

Thanks both of you @coding-jackalope @flamendless

[2020-03-28 18:50] coding-jackalope commented on #7
This was just something I added to get the feature in. It should be dynamic and allow the user to set the scroll speed. I'll add a feature request for this.

[2020-03-28 19:00] belohlavek opened #9 "File dialog tree: collapse parent folders"
It seems like it's not possible to collapse parent folders on the file dialog tree view
Tested on windows 10

![Fk2RhjuTWt](https://user-images.githubusercontent.com/1307029/77831316-28b9cc00-710d-11ea-8e9d-d44c2935f3d3.gif)

@coding-jackalope if you don't know what could cause this I can look into it in the coming days and send a PR, as I need to fix it for my app :)

[2020-03-28 22:30] coding-jackalope commented on #9
Yes, this was intentionally programmed in when the file dialog was implemented. This line in particular is the culprit inside of FileDialogExplorer:

[code]

The proper way of doing this is to only pass the IsOpen option when the dialog first appears so that the tree expands to the proper location. The Dialog.FileDialog function already knows if the dialog was open in the last frame. This flag nee

[2020-03-28 23:00] belohlavek commented on #9
Sounds great, awesome work :)

[2020-03-29 03:50] flamendless commented on #6
Alright then. I was about to make a PR for that, but you already got it handled then

[2020-03-29 21:38] belohlavek opened #10 "Multiple examples"
I would suggest creating an examples folder with multiple examples, especially for different layout permutations as it gets harder to achieve the desired results (like nested controls inside a layout) without a proper example on how to do it!

[2020-03-29 23:58] coding-jackalope commented on #9
Hi @belohlavek, I just pushed an update with a fix for this. Whenever you get a chance, try it out and let me know if this issue is resolved on your end.

[2020-03-30 00:13] coding-jackalope commented on #6
@flamendless if you have a PR, I wouldn't mind taking a look at it and integrating it into the next release.

[2020-03-30 00:15] belohlavek commented on #9
Seems to function well, but the aligment seems to break when opening some folders
![dgVwTY4htM](https://user-images.githubusercontent.com/1307029/77864984-5896cb80-7202-11ea-8730-affd51681488.gif)

[2020-03-30 00:16] coding-jackalope commented on #10
This is something I have been considering as it would help ease users into using more complex features. I have also been considering making a simple application that uses Slab and providing that as reference.

[2020-03-30 01:22] coding-jackalope commented on #9
This seems to be an existing issue with how trees are handled. I will go ahead and close this issue and open another for this specific case.

[2020-03-30 01:22] #9 closed

[2020-03-30 01:23] coding-jackalope opened #11 "Child tree items not indented properly when above sibling is open."
This issue currently occurs on the main branch.

Seems to function well, but the aligment appears to break when opening some folders

![dgVwTY4htM](https://user-images.githubusercontent.com/1307029/77864984-5896cb80-7202-11ea-8730-affd51681488.gif)

_Originally posted by @belohlavek in https://github.com/coding-jackalope/Slab/issues/9#issuecomment-605724590_

[2020-03-30 03:40] belohlavek commented on #10
I'm personally interested in two specific things:

Adavanced layout usage (nesting, aligning, resizing, custom size columns)
Creation of custom controls/widgets via usage of Region

More docs on how the layout manager works would be great too.
I'm still strugging to have a simple sidebar and a custom control that makes use of region and overlayed images next to each other :)

[2020-03-30 12:46] belohlavek opened #12 "FileDialog: Missing files and folders"
That's basically what happens, somehow I missed this yesterday.

I open some folder inside C:/Users/MyUser on Windows and there's simply missing files and folders!

[2020-03-30 13:15] belohlavek commented on #10
I've seen that the file dialog achieves a column with sidebar like layout by moving the cursor rather than using a proper layout. Are there any reasons for this? Am I understanding wrong?

[code]

[2020-04-02 08:27] flamendless opened #13 "REQUEST: Window Close Button"
Similar to most window designs, a close button in either the left or right side of the window title bar. I believe DearImGui has this as well.

[2020-04-03 06:32] LaineZ opened #15 "Multiline tooltips"
If i tried make multiline tooltip witn ```\n``` character it is not displayed correctly
![Bug](https://i.imgur.com/aBA0gVv.png)
Code:
``slab.Button("GC", {Tooltip = "Performs a garbage collection:\nLua uses a garbage collector that runs from time to time to collect dead objects when they are no longer accessible from the Lua program."})``

[2020-04-05 18:55] coding-jackalope commented on #12
I was unable to reproduce this issue on my machine. Could you provide some more details? Specifically,

- What version of love are you running?
- 32-bit / 64-bt?
- Are you the root user on the machine?

[2020-04-14 00:59] coding-jackalope commented on #15
This issue should now be fixed with the latest release. The commit can be found here 87231b88c7dca1ee2173c28b37d1d7d864e08646.

[2020-04-14 00:59] #15 closed

[2020-04-14 01:06] coding-jackalope commented on #13
This issue should now be fixed in the latest release v0.6.3.

[2020-04-14 01:06] #13 closed

[2020-04-14 01:07] coding-jackalope commented on #11
This issue has been fixed in commit 6266017337f3e4373d76d94b5447bc0fff248f6c.

[2020-04-14 01:07] #11 closed

[2020-04-14 01:08] coding-jackalope commented on #7
This has been implemented in commit 390e009f9b16d62f6ddd46812547ed644166709a.

[2020-04-14 01:08] #7 closed

[2020-04-15 12:47] flamendless opened #16 "Window Close Behaviour"
Really awesome for the close button feature! Thanks!

I strongly recommend to add an example of how to properly use the `IsOpen` (close button) for the Window API in the wiki.

First I've tried this
[code]
which shows properly the close open, but clicking it still shows the window, and printing the value of `test` results to always being true. Now the reason for this is simple, because if we pass

[2020-04-15 12:51] flamendless commented on #16
This is a reference to the love-imgui binding I mentioned
https://github.com/slages/love-imgui
[code]

[2020-04-26 21:55] coding-jackalope commented on #16
Thanks for the feedback! I have updated the wiki to provide some example code on usage for IsOpen.

I will also look at implementing the return value for the open state of the window. It seems like love-imgui makes use of this among other uses of return values. Thanks for linking the example.

[2020-04-27 05:24] flamendless opened #17 "[FEATURE REQUEST] Indentation"
Sample use-case
[code]
to display:
[code]

[2020-05-08 01:41] SweetAlmighty opened #19 "ListBox Items Selectable Through GUI"
First off, I wanted to say thanks for the library! It's been great to work with, and was exactly what I was looking for to start on my Animation tool project.

The attached gif shows an issue I noticed, where a list box item that was offscreen would be selected if I attempted to select a different UI element that was being drawn over that list box item

![listbox](https://user-images.githubusercon

[2020-05-09 17:43] coding-jackalope commented on #19
Hi, thanks for the report. Using "Slab.IsControlHovered()" should be a good temporary fix for now, but I will have a proper fix in for the next update. Will update this thread once the fix is in.

[2020-05-09 17:43] coding-jackalope commented on #17
Hi, thanks for the suggestion. I will have this implemented in the next update.

[2020-05-24 23:45] #16 closed

[2020-05-25 00:29] coding-jackalope commented on #19
This issue has been fixed in release v0.6.4. The commit can be found here f673a39.

[2020-05-25 00:29] #19 closed

[2020-05-25 00:32] coding-jackalope commented on #17
This feature has been implemented in v0.6.4. This commit can be found here a8b6b2a.

[2020-05-25 00:32] #17 closed

[2020-06-01 01:29] idbrii opened #20 "Interoperate with Ulydev/push (mouse position override)"
Slab looks really great!

Would be nice to work with [Ulydev/push](https://github.com/Ulydev/push) or [other libraries](https://github.com/tomlum/simpleScale) that mess with resolution. Push lets you assume one resolution and it scales the game to fit the window. It provides a conversion method from screen pixel coordinates to game coordinates (so if your game is 320x240, you'll never get y outsid

[2020-06-04 23:46] coding-jackalope commented on #20
Hello. Glad you like the library.

I tried using Slab with one of the examples provided with the Push library and noticed the issue you were describing. Slab is designed to be able to work with other libraries with minimal interference. However, instances like these have not been caught yet and as more people use external libraries and bring up these issues, I can work on making sure Slab will sti

[2020-06-07 12:27] Rinkaa opened #22 "`FileSystem.Exists(...)` returns wrong result on Windows"
This is tested with the `main.lua` in this repo. At the "Dialog" section of the test window, click "Open File" opening a file selection window, then try to open any file:
![slab](https://user-images.githubusercontent.com/8685221/83968319-f8f02700-a8fa-11ea-9f05-683986dbc40b.gif)
Any file is not able to be opened via either double-click or the "OK" button.

I made some test prints on local:
[code]

[2020-06-07 12:38] giovifav opened #23 "Crash when change indent on style editor"
Error

/SlabDebug.lua:284: table index is nil

Traceback

/SlabDebug.lua:284: in function 'DrawStyleEditor'
/SlabDebug.lua:464: in function 'StyleEditor'
/SlabDebug.lua:615: in function 'Begin'
SlabTest.lua:2118: in function 'Begin'
main.lua:37: in function 'update'
[C]: in function 'xpcall'

system:
ubuntu 18.04 - love 11.3

[2020-06-07 13:36] giovifav commented on #23
#24

[2020-06-07 17:02] giovifav opened #25 "Missing line of code in Menus page on wiki."

[2020-06-09 17:52] idbrii opened #30 "Bug: Slab fails to load styles when it's not in the top level of a love2d project"
I modify my path in conf.lua to allow me to split my code into two
folders: src/ and src/lib/
[code]
This allows me to import modules from either folder without any
prefixes:
[code]
This doesn't work with Slab. Even excluding lib from require path (so it
must be specified in includes) doesn't work with Slab.

# Investigation

Slab sets its path using the require path:
[code]
But styles use this as

[2020-06-19 03:42] sdleffler opened #31 "Windows do not notice when mouse is released after they are closed"
Hi! I have two windows, call them window A and window B. Window A contains a button which opens up window B. Window B is closable, so it has that nice lil `X` in the top right that you can click to make it buzz off. So, what's happening here is that I open window B from window A's button; then, I close window B. At this point, it appears that window B still thinks it is being dragged around; when

[2020-06-19 03:48] sdleffler commented on #31
To clarify: clicking that wonderful little `X` causes window B to have its `IsMoving` flag set, as well as close it, at the same time. Because it is closed when the mouse is released, it doesn't have `IsMoving` unset until it is opened again and the mouse is pressed and released. And, after some testing it seems like adding `ActiveInstance.IsMoving = false` to the `if` clause which sets `ActiveIns

[2020-06-19 17:51] sdleffler opened #32 "Feature request: "cleanup"/garbage collection/instance deletion"
Hiya! I'm writing out some code and noticed something a little funky. I wanted to procedurally generate entries in a Slab tree. What I'm doing is writing out a level editor for an ECS-based game; so, I want a big ol' tree showing the hierarchy of entities and what components they have and what properties those components have and so on. But, when I have a few hundred entities and they're spawning

[2020-06-21 23:44] sdleffler commented on #30
A similar issue happens when using `Slab.FileDialog`. Slab crashes because it can't open the image file. The cause seems to be here, lines 116-122 of `Dialog.lua` in my local repository:

[code]

Changing `SLAB_PATH` to `SLAB_PATH:gsub("%.", "/")` fixes the issue. I think it may be a good idea to add a `SLAB_FILEPATH = SLAP_PATH:gsub("%.", "/")` global to the `init.lua` or wherever else `SLAB_PATH

[2020-06-22 00:09] sdleffler commented on #30
Ah, there's already a PR to deal with this, somewhat: #21

[2020-06-22 19:01] coding-jackalope commented on #22
Hello, thanks for reporting this issue. I was able to reproduce the issue with double-click not selecting the file and closing the file dialog. However, the OK button selection seems to work fine for me. The double-click issue is related to the File Dialog logic only acting upon list item double-clicks for dialog entries and not files. This can be solved through properly handling list item double-

[2020-06-27 04:24] sdleffler opened #33 "Closing a Window via the close button does not unset the hot region"
When closing a window via the close button, if `BeginWindow` is not later called with `IsOpen = false` (going from `BeginWindow(... { ... IsOpen = true ... })` to not calling `BeginWindow` at all but still calling `Slab.Update`) then the `Region.HotInstance` variable remains set to the now closed window and does not get corrected until another Slab object is hovered over and then unhovered. This i

[2020-06-27 04:33] sdleffler commented on #33
Proposed fix: provide a `Region.Obstruct()` function which checks to see if the active region is the hot region, and if so, nils the hot region. This can be called from the same block in `Window.lua` which checks to see if the close button is clicked:

[code]

[2020-06-27 16:44] sdleffler commented on #33
I think I've found a better solution - this seems to be solved more neatly and robustly by adding a frame number counter to `Region` in a similar manner to `Window`, and then in `Region.GetHotInstance` we can check whether or not the hot instance has been updated within the last couple frames; if not, nil it out and return the empty string. This makes `Region.Obstruct()` unnecessary and should sol

[2020-06-28 20:32] coding-jackalope commented on #31
Thanks for reporting this issue. I integrated your fix and attributed you as the author for this fix. The commit can be found at 7836682. This will be deployed with the next update.

[2020-06-29 19:39] coding-jackalope commented on #33
Hi @sdleffler thanks for reporting this issue. I was able to reproduce this and have checked in a fix. You can see the commit at 5395f26. This fix will be added to the next update.

I went with keeping the frame number in Window since it is used to update what windows are visible and their stack order. I added a function to clear the hot region if the given window has been removed from the stack.

[2020-07-01 05:03] coding-jackalope commented on #32
Hi @sdleffler, thanks for bringing up this issue. Cleaning up old, unused entries has been something I've wanted to look at for some time. It is nice to see you and others use Slab enough that this issue is being stress tested.

I very much agree with you on the third option. I think leveraging features that are built into the language to help with any cleaning up of stale data makes it easier for

[2020-07-03 06:15] flamendless opened #34 "Multiple Input does not work"
Hi, im doing something like this
[code]
it properly shows but i cant click and change any value in the `Slab.Input`

[2020-07-04 04:25] flamendless commented on #34
It seems that the problem arises because of conflicting `ID` of `Slab.Input`, a workaround is to do `Slab.Input("input_x_" .. i)`

[2020-07-04 04:25] #34 closed

[2020-07-06 13:15] FlamingArr opened #35 "Support for mobile devices"
This ui library looks very good! It would be awesome if you consider providing a mobile device backend to it, It seems to mess up the coordinates when I try to use it on my Android

[2020-07-08 03:08] flamendless opened #36 "[WIKI] Use Slab.GetInputNumber for numbers"
Hi, i've noticed that in the wiki, under the "getting numbers", it uses `tonumber(Slab.GetInputText())`:
[code]
I suggest to use the API `Slab.GetInputText()` to save call so as not to use `tonumber` anymore since it is explicitly stated to get numbers only with the config `NumbersOnly = true`

[2020-07-22 17:38] coding-jackalope commented on #35
Hi @FlamingArr, thanks for the feedback. I am currently wrapping up a release but will look into this for the next release.

[2020-07-22 17:41] coding-jackalope commented on #36
Thanks for reporting this. I have made the necessary change in the wiki.

[2020-07-22 17:41] #36 closed

[2020-07-23 19:23] #8 closed

[2020-07-23 19:23] #6 closed

[2020-07-23 19:23] #20 closed

[2020-07-23 19:23] #23 closed

[2020-07-23 19:23] #30 closed

[2020-07-23 19:23] #31 closed

[2020-07-23 19:23] #32 closed

[2020-07-23 19:23] #33 closed

[2020-07-24 08:43] pirogronian opened #37 "Error on opening file via FileDialog"
When opening selected file via FileDialog, I got

I invoked FileDialog these way:

My system: ArchLinux, updated yesterday.

What's interesting (and confusing) yesterday it worked fine. The only difference was update Slab in my project from version of ~21.07.2020 but I cannot find in commit logs any substantial changes, that could do that.
Maybe using FFI on Linux is not so good idea?

Edit:
To wo

[2020-07-24 21:59] coding-jackalope commented on #37
Hi @pirogronian, thanks for reporting this issue and providing a work around. I'll take a look and include this fix in a patch release.

[2020-07-25 13:32] pirogronian commented on #37
By the way, as Slab is written for LOVE, why not to use LOVE API, instead of using standard Lua packages and even external libs? I think it would make things much simpler and make mobiles support much easier.

[2020-07-25 13:54] flamendless commented on #37
Do you mean the usage of ffi? There are restrictions to some löve api where ffi could be used as it can provide for power and functionality.

[2020-07-25 14:29] pirogronian commented on #37
Well, if love api is insufficient, then there is no choice than use something different. But I'd use it as really last choice. Custom integration with backends means lots of checking. If I wouldnt be skilled enough, I'd drop Slab already for something more reliable. Even now I see my workaround as kind of dirty hack.

[2020-07-25 21:40] coding-jackalope commented on #37
Hi @pirogronian, as @flamendless has mentioned, FFI is very helpful in providing features that Love restricts. For example, the [love.filesystem](https://love2d.org/wiki/love.filesystem) documentation mentions that it will only give access to the root folder (source directory), the game's save directory, or the folder containing the game's .love archive or source directory. This is sufficient and

[2020-07-26 00:54] idbrii opened #38 "Input's drag functionality is too sensitive for small ranges"
If I want an integer value in [0,10], then there are only 11 possible values. Instead of using the full width (or half width) of the slider to adjust through this range, InputNumberDrag accepts tiny movements to adjust. It only takes the width of one character to move through the entire input range.

Using InputNumberSlider is much better. Could InputNumberDrag work the same way (or maybe scaled t

[2020-07-26 01:39] idbrii opened #41 "InputNumberSlider ignores Options.Step and has undocumented rounding behaviour"
Nice work with the slider! It's awesome that you can double-click to edit the value. However, I find the way InputNumberSlider vs InputNumberDrag work a bit confusing. I'd expect the difference is just the visible slider, it looks like the drag behaviour is also different, but also they have different rounding behaviour.

InputNumberDrag takes a Step value which allows the user to determine if the

[2020-07-26 10:18] pirogronian commented on #37
Hi @coding-jackalope , thank you for detailed explanation. As FFI appears to have some unexpected restrictions as well, I'd provide LOVE as another backend and let user to choose which one to use. By the way, I'm able to access any file on my filesystem using `love.filesystem.getInfo`. Probably the only restriction love.filesystem have is write access limited to save directory.

[2020-07-30 04:24] flamendless opened #44 "Deinitialize Slab"
Hi, in cases where there are multiple Slab initialized/used (i.e when switching from one state to another), Slab hangs the system upon exit.

I am still unsure of how this weird behavior happens as my project is very complex. I think that when multiple files/states uses Slab causes the issue (though they are not processed at the same time).

[2020-08-02 00:52] coding-jackalope commented on #37
Hi @pirogronian, what version of ArchLinux are you running? I have tried using the file dialog in both Ubuntu and Manjaro which is a ArchLinux based system, and both worked fine when browsing files. Are you just using a base Arch system or combining a desktop?

[2020-08-02 00:53] coding-jackalope commented on #38
Thanks for the feedback @idbrii. I'll look into implementing this for the next patch release.

[2020-08-02 03:10] coding-jackalope commented on #41
Glad you like the sliders @idbrii. This is a first pass implementation of the sliders and I am glad to hear some feedback on this so soon. The behavior of the sliders is based off of what is done by [Dear ImGui](https://github.com/ocornut/imgui).

![imgui_sliders](https://user-images.githubusercontent.com/47678888/89113477-68c7ed00-d426-11ea-9c2f-f55d4f11755c.gif)

The step value was added to cont

[2020-08-02 03:13] coding-jackalope commented on #44
Hi @flamendless, are you calling Slab.Initialize multiple times? This should only need to be called once in love.load. What is the context of your situation where this needs to be called multiple times?

[2020-08-02 03:18] flamendless commented on #44
Upon further testing, the problem is not with multiple `Slab.Initialize` call.

It seems that when there is loaded frames in the previous state and then switching to another state as well.

Im also testing whether it has something to do with the widgets themselves.

[2020-08-02 12:06] pirogronian commented on #37
Hi @coding-jackalope . ArchLinux is a rolling distro, so only install images are versioned. I have some custom packages, but all base and devel are standard and fresh. Exact versions:

I could't find stat64 nor stat or lstat symbols among certain shared objects of these packages, though.

As I stated, at first everything worked fine, but just next day it stopped. I did system update meanwhile, but

[2020-08-13 16:02] pirogronian commented on #41
Hi @coding-jackalope
I just wanted confirm this issue with sliders. And let You know I also use it in my project :blush:

[2020-08-14 04:37] flamendless commented on #44
This is getting tricker, I've tried
Test 1:
1. State A has Slab.Initialize call
2. Switch to State B (which also has Slab.Initialize call
3. Quitting on State B hangs the game

* Both State A and State B has the same system I use for debugging.

Test 2
1. I've removed the Slab.Initialize call in State A (still has the Update and Draw of Slab)
2. Switched to State B (has Initialize, Update, and Dra

[2020-08-14 04:49] flamendless commented on #44
Does Slab store data internally related to the client's usage? Like storing ID and data Slab widgets need? Maybe there should be a `flush` method where all of those will be cleared up.

[2020-08-14 18:20] coding-jackalope commented on #44
Hi @flamendless, thanks for looking into this. Slab does store some state information for the various controls based on the ID given to those function calls. However, Slab should not need any additional information from the user and will only act on the data when the function is called. There is some validation that occurs for windows prior to drawing the requested windows and controls.

I am stil

[2020-08-16 01:01] flamendless opened #45 "Pass options to Initialize - disable all docks"
Looking at the source code, `Slab.Initialize` accepts `args` table as parameter but it does not do anything with it.

I suggest passing something like `Slab.Initialize({Docks = false})` that will disable all docks for all windows.

[2020-08-16 01:11] flamendless commented on #44
Hi, I've finally found the solution after reading what you've said. I did this:
[code]
So it's sure that it is only initialized once.

---

in the example, the `Slab.Update` is called first though.

---
Last question: Should Slab widgets be done in `update` or in `draw`?

[2020-08-16 15:11] fsancho commented on #12
I am having the same problem. But it is something that happens some times, not always:
- I amm running the demo in the library.
- with Love 11.3
- in a 64bit machine
- where I am the root
Please, let me know if you need anything else. Thank you for your work!

[2020-08-16 15:19] fsancho opened #46 "[Enhacement] Tab widget"
It would be great if the library provides some kind of containers. They are a good way to create complex layouts with current widgets. For example:
- Panels/Frames
- Tabs

[2020-08-16 16:43] coding-jackalope commented on #44
Hi @flamendless, good to hear you have found a solution.

Slab.Update should be called before any other Slab functions. The Slab.Update primes the internal state for Slab function calls.

Slab widgets ideally should be done in the update loop, but Slab widgets do not make love.graphics.* function calls until Slab.Draw is called, so theoretically, Slab widgets can be done anywhere before Slab.Draw.

[2020-08-16 16:46] coding-jackalope commented on #45
This is a good suggestion. I'll add this to the TODO list.

[2020-08-16 17:54] coding-jackalope commented on #46
Thanks for the suggestions @fsancho. Tabs have been a feature to add for quite some time and some initial research has been done on implementing this. I'll add Panels/Frames to the list as well.

[2020-08-16 17:59] fsancho commented on #46
Thanks for your fast replay and your wonderful work!

[2020-08-20 15:09] antoniotorresm opened #47 "[Enhancement] Allow MenuItem to be disabled"
It would be useful to have the option to disable MenuItems just like with buttons.

Thank you for your amazing work!

[2020-08-21 04:24] flamendless opened #49 "ScrollBar not appearing"
Consider this snippet:
[code]
This makes a window that is very long but no vertical scrollbar appears.

[2020-08-27 21:18] LaineZ opened #50 "Save dialog does not work on Linux"
If i tried save file in any directory i got this error:
[code]
Slab master branch
save dialog code:
[code]

[2020-08-27 21:23] LaineZ commented on #50
duplicate of #37

[2020-08-27 21:23] #50 closed

[2020-09-04 19:25] coding-jackalope commented on #22
This issue has been resolved in the 0.7.0 release.

[2020-09-04 19:25] #22 closed

[2020-09-10 00:05] flamendless opened #52 "Image - allow passing of quad and image and more"
Hi, it would be useful to allow something like:
[code]
As an alternative to `Sub(x,y,w,h)`

---

Also, for clarification, does the `Sub` variant in `Image` does the same as quad or it's for controlling how the image is drawn in the widget?

I've noticed that using the `Scale` with `Sub` variants makes the image overflow in the widget without the widget size and succeeding elements adjust properly.

[2020-09-15 19:27] coding-jackalope commented on #52
Hi @flamendless, thanks for the suggestion. I'll add this to the upcoming patch release.

The Sub variant will actually create a quad with the given settings and will reference the texture coordinates supplied in the call. Slab should then add the widget based on the bounds of the quad. If not, I'll try to reproduce the issue and fix it for the upcoming release.

[2020-09-16 07:31] flamendless commented on #52
Oh i mistyped the last part. I meant that using the `Scale` with the `Sub` variants makes the image overflow the window. It also overlaps behind other widgets.

[2020-09-17 13:17] antoniotorresm opened #53 "[Enhancement] Show ".." in FileDialog directories"
Showing ".." as a directory in FileDialog would be a simple yet great addition.

Thank you for your awesome work!

[2020-09-30 16:59] chicogamedev opened #54 "Input request type message dialog"
Hi,

Slab is a wonderful lib that I really enjoy working with.

I've created my own Input request message dialog, like a simple Text that ask for a value and a simple text Input.

But there is a small flaw in the Input object. In this case I ask to get the focus in my Input using : Slab.SetInputFocus(Id)

And this is working but here it comes : because it is a dialog I want that the value in the I

[2020-10-06 13:19] antoniotorresm opened #56 "ContextMenuItem breaks layouts using SameLine"
When using buttons in a horizontal layout (using Slab.SameLine), calling a ContextMenuItem on one of them breaks the layout.
Reproduction project: [slab-bug.zip](https://github.com/coding-jackalope/Slab/files/5334038/slab-bug.zip)

![image](https://user-images.githubusercontent.com/17461846/95206647-3c926900-07e7-11eb-9c0b-097c23163a58.png)
![image](https://user-images.githubusercontent.com/174618

[2020-10-06 17:07] coding-jackalope commented on #54
Hi @chicogamedev, thanks for reporting the issue. I'll take a look into this for the next upcoming patch release.

[2020-10-06 17:08] coding-jackalope commented on #56
Hi @antoniotorresm, thanks for reporting this. Should be an easy fix that will be included in the next upcoming patch release.

[2020-10-08 18:32] coding-jackalope commented on #53
Thanks for the suggestion. I'll include this in the next patch release.

[2020-10-20 10:41] boris-741 opened #57 "need more examples"
Сan you show an example of creation node graph with slab?
like this
https://github.com/thedmd/imgui-node-editor

[2020-10-20 19:14] boris-741 opened #58 "example crash"
Error: /Internal/Core/DrawCommands.lua:526: Cannot set scissor with negative width.
stack traceback:
        [string "boot.lua"]:777: in function <[string "boot.lua"]:773>
        [C]: in function 'assert'
        /Internal/Core/DrawCommands.lua:526: in function 'Scissor'
        /Internal/UI/Region.lua:468: in function 'ApplyScissor'
        /Internal/UI/Region.lua:345: in function 'Begin'

[2020-10-31 20:17] coding-jackalope commented on #58
Hi @boris-741, could you provide some example code or reproduction steps that is causing this issue? It would help in finding the culprit of this error.

[2020-10-31 20:36] coding-jackalope commented on #57
Hi @boris-741, unfortunately, Slab in its current state is not designed for creating tools such as a node editor with camera panning/zooming. However, the Love API provides functionality that should be simple to implement a node rendering canvas with Slab offering the UI component to the editor.

[2020-11-02 04:20] #38 closed

[2020-11-02 04:20] #1 closed

[2020-11-02 04:20] #44 closed

[2020-11-02 04:20] #45 closed

[2020-11-02 04:20] #47 closed

[2020-11-02 04:20] #49 closed

[2020-11-02 04:20] #52 closed

[2020-11-02 04:20] #53 closed

[2020-11-02 04:20] #54 closed

[2020-11-02 04:20] #56 closed

[2020-11-02 10:26] flamendless opened #59 "Release v0.7.1 breaks LOVE key events"
Hi, just pulled the latest release and this is now not working for some reason:

[code]

[2020-11-02 16:49] coding-jackalope commented on #59
Hi @flamendless, thanks for reporting this. Unfortunately, there were some callback forwarding missed with the Keyboard refactor. I plan on pushing out a fix soon, but wanted to give a little more time to see if other issues arise. In the meantime, this can be fixed with the following lines of code modified in Keyboard.lua:

[code]

Apologies for this inconvenience. Hopefully this fix will unblock

[2020-11-02 17:48] flamendless commented on #59
No worries. I'll wait for the fix

[2020-11-02 18:45] boris-741 commented on #58
![image](https://user-images.githubusercontent.com/8223870/97906248-642c1100-1d54-11eb-931f-db5ddf733a08.png)
![image](https://user-images.githubusercontent.com/8223870/97906340-8756c080-1d54-11eb-8df2-6e4904872f2b.png)
1. start window example
2 drag the window off the love window bound

[2020-11-02 20:28] coding-jackalope commented on #58
Thanks for the response. However, I was unable to reproduce this issue on versions 0.7.0 and the latest release 0.7.1. What version are you currently running and what OS is this error occurring on? Does this crash still occur for you with the latest version?

[2020-11-03 05:40] boris-741 commented on #58
slab - 0.7.1
love2d - 11.3
os: windows 10

[2020-11-05 08:53] Veslo5 opened #60 "Window undock bad alignment on mouse coords"
Slab version 0.7.1
LOVE version 11.3.0
OS: Windows 10

Its happend only sometimes. Reproducted this issue on fullscreen too as well as from left and right dock.

Including gif:
![bug](https://user-images.githubusercontent.com/24257206/98218437-0b26cd80-1f4c-11eb-82f9-dbbee311cd3d.gif)

[2020-11-05 09:23] Veslo5 commented on #46
Hi @coding-jackalope , I really like this project. Slab is awesome UI!
I have some suggestions too (don't want to create another issue for this)

- Window title frame editable height

- Window title alignment (left, center, right)

- flag or settings to turn off cursor image change (like arrows for resizing etc.)

- Custom cursor image on actions (like resizing)

Anyway great job. This library is

[2020-11-05 19:55] coding-jackalope commented on #60
Thanks for reporting this @Veslo5. There will be a fix for this in the upcoming patch release.

[2020-11-05 20:00] coding-jackalope commented on #46
Hi @Veslo5, glad this library is helping out with your projects. I will look into adding these features in the next minor release.

[2020-11-05 22:39] Veslo5 commented on #58
@coding-jackalope
Sorry again for bothering. I can reproduce it too. Hope this gif helps.

slab - 0.7.1
love2d - 11.3
os: windows 10

![bug](https://user-images.githubusercontent.com/24257206/98304179-c2106100-1fbf-11eb-8433-579c521310e8.gif)

[2020-11-16 20:15] coding-jackalope commented on #35
I was able to get around to investigating some issues with mobile support. The one that stands out is the Android status bar that is rendered on top of Love. Love currently has a function called 'love.window.getSafeArea', but unfortunately does not seem to return the correct results. This may be fixed in a future version as discussed in this thread [here](https://love2d.org/forums/viewtopic.php?f=

[2020-11-17 14:45] FlamingArr commented on #35
Hi, I just tried out the current master branch and this error is thrown when running the bundled program and switching to 'Window' from 'Overview'
[code]

The last coordinate mess up issue seems to be perfectly fixed, thanks.
I don't see any other issue yet.

[2020-11-17 21:05] coding-jackalope commented on #35
This crash is fixed for the upcoming patch release and has been addressed in issue #58. We can revisit this issue after the release.

[2020-11-18 08:24] FlamingArr commented on #35
There is another minor issue where after clicking on a button, the button belives it is being hovered on until one clicks somewhere else.

[2020-11-19 11:27] LaineZ opened #61 "Feature request: "Up to" button in file dialogs"
It would be cool if File Dialogs will have this button - sometimes happens when you accidentally pick wrong folder and want to go back. But it cannot done in proper way. You need reopen file dialog again and complete full folder path again

![Save dialog in windows](https://i.imgur.com/ot8LPJY.png)

[2020-11-19 22:47] coding-jackalope commented on #61
Hi @LaineZ, thanks for the suggestion. I'll look into implementing this for the next minor release.

[2020-11-19 22:48] coding-jackalope commented on #35
Thanks for the info. I'll look into this for the patch release.

[2020-11-20 11:08] FlamingArr commented on #35
Re: Input
On mobile devices the keyboard is disabled by default and to enable it `love.keyboard.setTextInput(true)` must be called, disabling it is pretty same except `false` should be passed to the function.

Slab should enable the keyboard when the edittext field is clicked on and should disable it when somewhere else is clicked.

[2020-11-24 04:51] #59 closed

[2020-11-24 04:51] #58 closed

[2020-11-24 04:51] #60 closed

[2020-12-03 18:25] Dude112113 opened #63 "`BeginMenu` and `ContextMenuWindow` missing top rounded corners"
Just a note; I am still figuring out Slab, if I am missing something, my bad...

![image](https://user-images.githubusercontent.com/25151112/101070706-a0d96b00-3593-11eb-9b0d-9e37b08c02da.png)
![image](https://user-images.githubusercontent.com/25151112/101071243-3bd24500-3594-11eb-8057-49a8b52babc9.png)

The tops of the context menu's are missing rounded corners.
For the `MainMenuBar` it makes sen

[2020-12-03 18:33] Dude112113 opened #64 "Multiline Input paste with newline charecters"
Pasting text with a multiple lines seems to do some strange things, it is rather difficult to explain.

Steps to reproduce:
1. Have text spanning 2+ lines in the clipboard
2. Paste that text in a multiline input box

You will notice visually duplicated letters (that do not exist) and strange cursor position due to that

The issue seems to be related with the newline charecter `\n`

![image](https:

[2020-12-03 18:36] Dude112113 opened #65 "[Enhancment] Support holding backspace"
WOOPS: I changed this issue because I realised the original one wasn't working because it was bugged which I have already reported #64.

Support holding backspace to keep removing charecters from the input
Also for the delete key (Though I have not checked if it works for the delete key already)

[2020-12-04 01:49] coding-jackalope commented on #63
Hi @Dude112113, thanks for reporting this issue. The fix should be fairly trivial and will be included in the next update.

[2020-12-19 04:22] flamendless opened #68 "CheckBox's option - disable flag"
Hi, it would be useful to have checkbox's api for the `option` to have a flag for `disable`, this would allow to render the checkbox but will not be clickable/toggleable regardless of the state.

An example would be:

[code]

[2020-12-31 03:51] flamendless opened #70 "`Image` - add drawing of rect"
Hi, it would be useful if drawing a rectangle is allowed in the `Image` API.

This would be useful for tilemap/spritesheet drawing and having an indicator (rect) in the current frame/index. Usage would be:
[code]

[2021-01-13 11:27] sharpobject opened #72 "Programmatically move a window"
Hello,

I tried out the example and noticed that it was easy for the window to end up out of the viewport. So I wanted to make it so that the window was clamped inside a viewport, and to do that I wanted to programmatically move the window. Is there a recommended way to do this?

[2021-01-15 02:17] coding-jackalope commented on #72
Hi @sharpobject, you do have control over the placement of the window programmatically through the 'X' and 'Y' options you pass into the 'BeginWindow' function. Passing NoMove = true with the options will disable movement of the window. More information can be found [here](https://github.com/coding-jackalope/Slab/wiki/Window).

[code]
Unfortunately, Slab does not support constraining the window to

[2021-01-19 13:52] LaineZ opened #73 "Slab.Separator() have wrong position in layout"
Separator position goes wrong if used in layout windows

![Wrong pos](https://i.imgur.com/p5xoRd0.png)

Minimal example:
[code]

[2021-01-19 13:54] LaineZ commented on #73
Btw, default font have same issue:
![default font](https://i.imgur.com/I2USmRi.png)

[2021-01-25 17:32] coding-jackalope commented on #73
Hi @LaineZ, thanks for reporting this issue. A fix for this issue will be included in the next release which is currently being worked on.

[2021-02-12 00:49] PhoenixAran opened #74 "Error when Slab.Draw is called before Slab.Update"
Slab Version: 0.7.2

I get the following error:
**'Error: lib/slab/Internal/Core/DrawCommands.lua:356: attempt to index local 'Layer' (a nil value)'**
when I override the love.run function as seen [here](https://gist.github.com/jakebesworth/ac09d54cc05690250096f977105a41f8
)

Here is a [minimal reproduction main.lua file](https://gist.github.com/PhoenixAran/8272ad1f65e6ea307252db3c174c1e4d)
I beli

[2021-02-13 19:54] coding-jackalope commented on #74
Hi @PhoenixAran, thanks for reporting this issue. A fix for this will be included in the next release.

[2021-03-11 03:49] togfoxy opened #75 "Wiki update for WINDOW"
Small edits over time can result in a great product.  :)

This page:
https://github.com/coding-jackalope/Slab/wiki/Window
says:
Windows, by default, will have sizers for all sides active.

For clarity, windows, by default, use AutoSizeWindow and therefore do NOT have sizers by default.

Suggested text:
Windows using auto-sizing (AutoSizeWindow = false) will have window edge sizers on all sides.

[2021-03-11 05:19] togfoxy opened #76 "Slab.Textf alignment not working"
`Slab.Textf("some text",{Align = 'center'})`

will center correctly if SOME TEXT expands across more than one line (i.e. wraps). Using 'Align' on a short string should center that text on that one line based on the window width instead of left aligning against the left margin.

[2021-03-11 05:28] togfoxy commented on #76
Perhaps X and Y is being passed incorrectly?

[code]

[2021-03-11 05:45] togfoxy commented on #76
Did a workaround with

`Slab.BeginLayout('mylayout', {AlignX = 'center'})`

Is this intended behaviour?

[2021-03-11 15:32] idbrii commented on #20
Sorry I didn't confirm this earlier.

I'm not sure how 11e76e1  fixes the issue. On that commit I need to use my workaround of patching love.mouse.getPosition directly to allow the mouse to click buttons.

However, even worse  8af116802f2eadbab6399965db6157816affb5f7 broke that workaround. Now I can find no way to get slab to work with push without modifying slab.

I git bisected with this main.lu

[2021-03-11 22:20] idbrii commented on #30
I can confirm this works for me on an example project with my setRequirePath line above and slab in ./src/lib/slab.

Unfortunately, it doesn't work in my current project, but I guess something else is interfering. I'll have to investigate more later. Thanks for fixing!

[2021-03-13 18:13] coding-jackalope commented on #76
Hi @togfoxy, yes Slab.BeginLayout is the intended behavior for aligning controls to a specific layout. Be sure to call Slab.EndLayout when you are finished with controls that need to be affected by this layout.

If you feel the layout system is confusing or limited, feel free to let me know. This feature is really early and will be updated frequently as more developers use this system. I am also c

[2021-03-13 18:24] coding-jackalope commented on #75
Hi @togfoxy, thanks for pointing this out. All fixes are always appreciated. This text is changed in a separate branch and will be updated when the new version is released.

[2021-03-14 00:42] togfoxy commented on #76
I guess the original comment was that I can't align text with textf unless the provided text is long enough to wrap. I'll do some more testing.

Regarding layout, it was very intuitive and worked first time. :)

[2021-03-15 03:30] togfoxy opened #81 "Can't find a way to force buttons to text wrap if the button text is too long."
Wrapping button text across multiple lines then doing a corresponding auto-size would be handy.

[2021-03-15 03:32] togfoxy opened #82 "Layout doesn't have a 'control border' option"
The layout works really well but there is no way to say that controls within the layout should be spaced out with a border.

If there was a {border=3} flag (for example) then the layout would space controls 3 units apart and not right next to each other. My work around is to use Newline() to get some distance between buttons. I can also use absolute x/y as well (I guess) but a border flag would be

[2021-03-21 06:49] togfoxy opened #83 "When putting 2nd layout after 1st layout the 2nd layout starts at wrong 'y'"
Will do my best to describe:

I create a layout with 6 columns. I fill the first column then the 2nd column etc using
`Slab.SetLayoutColumn(intColNumber)`

and that works. It is important to note that the columns are different length - that is - each has a different number of rows. Most of the 6 columns are NOT completely filled.

I then close that layout with

`Slab.EndLayout()`

and then begin a

[2021-03-27 10:25] fastcoding opened #84 "Miss touch pad inputs on Apple silicon machine"
Tested under arm macos (with m1 chip).  It only works if pressing the touch pad hard . If just tapping the touch pad, the demo test script will most likely miss mouse input events.

[2021-04-02 04:03] togfoxy opened #85 "OpenDialog window doesn't show SaveDirectory"
The love2D function
love.filesystem.getSaveDirectory()
returns a folder in %appdata%/Roaming but the OpenDialog window won't allow navigation into this folder.

Would be good option (flag) for OpenDialog to default to love.filesystem.getSaveDirectory().

[2021-04-07 03:55] PericlesDagod opened #86 "BlueScreen on SlabTest.lua"
![image](https://user-images.githubusercontent.com/39133947/113808143-ac1ced00-9765-11eb-8bb2-beaa2b90c411.png)

When dragging those min max inputs
![image](https://user-images.githubusercontent.com/39133947/113808203-cf479c80-9765-11eb-9e9e-920a7b81402c.png)

[2021-04-11 22:22] Dude112113 opened #87 "[Enhancment] Mouse wheel scroll horizontially when no vertical scroll bar"
Title says it all, when there is no vertical scroll bar, but there is a horizontal one, scroll horizontally with the mouse wheel
It would be nice to be able to control the scrolling behaviour as well.

[2021-06-08 11:18] flamendless opened #88 "Style resets"
[code]

why does in love.update, the current style resets back to `dark`?

[2021-06-12 06:13] flamendless opened #89 "GetLayoutSize does not return number of columns"
[code]

[2021-06-13 08:25] flamendless opened #90 "BeginTree does not return boolean properly when toggled close/open"
for Slab.Windows this works:
[code]
opening/closing the window works

but for Slab.BeginTree it does not, even clicking on the tree arrow, it does not toggle open/close
[code]

[2021-08-02 04:55] flamendless opened #91 "[Request] Function to return stats used by Slab"
This is useful for debugging, when users want to see the result of `love.graphics.getStats()` of their game without Slab stats mixing in the result (this happens when you draw the stats inside of a Slab window.

Usage would be (i think):
[code]

[2021-08-05 09:01] flamendless opened #92 "How to programatically set a window to a dock position? Also make docked window unremovable there"

[2021-08-06 17:20] #68 closed

[2021-08-06 17:20] #63 closed

[2021-08-06 17:20] #37 closed

[2021-08-06 17:20] #70 closed

[2021-08-06 17:20] #65 closed

[2021-08-06 17:20] #72 closed

[2021-08-06 17:20] #73 closed

[2021-08-06 17:20] #61 closed

[2021-08-06 17:20] #64 closed

[2021-08-06 17:20] #74 closed

[2021-08-07 02:04] #75 closed

[2021-08-07 02:04] togfoxy commented on #75
Resolved as suggested.

[2021-08-14 08:53] chicogamedev commented on #92
Same question here. I need this too.

[2021-08-21 04:33] flamendless commented on #90
Fixed in [commit](https://github.com/flamendless/Slab/commit/f71d42bb1dc45c22b10e5a0291273f4d2412711b)

[2021-08-21 04:33] #90 closed

[2021-08-21 04:45] flamendless commented on #89
Fixed in 38d39c894872800758527c6ecb9c10933d5e6b48

[2021-08-21 04:45] #89 closed

[2021-08-21 05:02] flamendless commented on #86
@PericlesDagod  this has been fixed in the v0.8.0 release. Please let me know if problem still persists.

[2021-08-21 05:02] #86 closed

[2021-08-21 05:09] flamendless commented on #83
Hi @togfoxy  this is not the expected behavior as far as i know. The 2nd layout should start after the 1st layout since the 1st layout has been closed/ended. Can you send a minimal main.lua code of demonstrating this issue so I can take a look at it and hopefully fix it? Thanks

[2021-08-21 05:12] flamendless commented on #82
Hi @togfoxy , can you send a minimal main.lua of the use case you have so I can easily test and add the `Border` flag?

also correct me if im mistaken but `border` is a line draw around each column right?
i think what you want for spacing around is `padding`

[2021-08-21 05:23] flamendless commented on #81
Hi @togfoxy.
There are two ways to do this as far as i can think of right now:
1. Parse the text and check for numbers of `\n` occurences.
2. Just let the user pass a number of multilines

First one would be costly as it will be calculated per frame.
Second one will allow for more control and users can even use this to easily make buttons with higher height.

Fixed in 84fc55e4a7bfbd09482caad43c7a9

[2021-08-21 05:23] #81 closed

[2021-08-21 05:26] flamendless commented on #87
Hi @Dude112113 , will get to this as soon as I can. I still need to figure out how scrolling in a view works internally in Slab

[2021-08-21 05:26] #76 closed

[2021-08-21 05:27] #57 closed

[2021-08-21 06:26] flamendless commented on #35
Hi @FlamingArr , I was about to fix this but it seems that it was already fixed. Please test again using the v0.8.0 and let me know if this issue is solved already.

[2021-08-21 06:41] flamendless commented on #5
@BestHatzker  can confirm that the snippet:
[code]
works.

[2021-08-21 06:41] #5 closed

[2021-08-22 03:10] flamendless commented on #88
Apparently `LoadStyle` should be called after `Slab.Initialize` to avoid getting overridden.  Updated the wiki to make note of this for clarity

[2021-08-22 03:10] #88 closed

[2021-08-25 13:08] flamendless commented on #92
@chicogamedev  just implemented this in commit c77087df531e48a2e834e90cef65541455f2c040

sample usage would be:
[code]

For now users are to handle when they want to remove the window to the dock by using boolean flag to control whether to call `Slab.WindowToDoc`. As you can see that this can also be used to permanently set a window to a dock.

Let me know if there's an issue with this. I may have

[2021-08-25 13:08] #92 closed

[2021-09-01 20:10] Dude112113 opened #96 "[Bug] Crash with `BeginContextMenuWindow` for void space"
In the wiki, the "Context Menus" example states that "This is placed outside of a BeginWindow/EndWindow call for context menus in the void space.", which no longer works since v0.8.0.

Minimal breaking example:
[code]

Traceback:
[code]

[2021-09-02 02:01] flamendless commented on #96
Indeed. Idk if i should just edit the wiki and remove that claim haha just kidding. Fix is coming soon

[2021-09-02 04:12] #96 closed

[2021-09-02 04:12] flamendless commented on #96
@Dude112113  this bug has been patched in the latest commit.

[2021-09-02 05:04] #87 closed

[2021-09-02 05:06] flamendless commented on #87
@Dude112113  this is implemented now. Horizontal scrolling will be the default if there is no possible vertical scrolling. Scrolling behavior is not yet implemented as I am still pondering what configuration is needed for the scrolling behavior.

[2021-09-02 05:07] flamendless commented on #85
@togfoxy  is still this an issue with the latest release?

It would be helpful if other users on windows could verify this behavior. Im on Linux so i cant really test right now

[2021-09-06 04:03] togfoxy opened #97 "Button wiki out of date: vlines"
VLines has been introduced as an option for the BUTTON but the wiki doesn't mention this.

https://github.com/flamendless/Slab/commit/84fc55e4a7bfbd09482caad43c7a91196401156e

[2021-09-06 06:31] flamendless commented on #97
Oh i must have forgotten about that. Thanks! Wiki is updated

[2021-09-06 06:31] #97 closed

[2021-09-14 04:47] flamendless opened #98 "[Image] Changing Image object is not updated"
[code]

possible cause of issue is internal caching of Slab

[2021-09-14 05:05] #98 closed

[2021-09-16 20:31] maw3193 opened #99 "MessageBox expands if there are more than one button"
Hi, I'm having a bit of a problem when I try to use the FileDialog to in "savefile" mode - the confirm overwrite dialog expands until it goes off the edge of the screen.
From trying to find the root cause, it seems to be every MessageBox, and it seems to only happen when the buttons are aligned to the bottom-right.

The specific issue is:
When I create a MessageBox with more than one button, the m

[2021-09-16 23:34] flamendless commented on #99
Hi. Thanks for reporting this. I'll get this fixed as soon as i can.

[2021-09-17 15:14] flamendless commented on #99
Hi, this has been fixed now in the latest commit @maw3193

Please let me know if the patch breaks other things.

[2021-09-17 18:34] maw3193 commented on #99
That works, thanks!

I'll have a look and see if anything else crops up.

[2021-09-18 03:33] flamendless opened #100 "[Window] Add window minimize button"
Right now Windows API only has close button which effectively shows/hides the whole window. A minimize button should also be added to compensate for ease and more use-cases.

This button should be inside the window's title bar. Clicking on it should just hide the contents of the window but keeping the title bar alive. Clicking again should do the opposite

[2021-09-18 03:51] flamendless commented on #99
It seems that there is regression with the patch. A simple
[code]
will show the problem with the fix. If button width exceeds the window's width, the window's width should stretch as well to compensate for the space.

[2021-09-18 03:54] #99 closed

[2021-09-18 04:55] #100 closed

[2021-09-18 04:56] flamendless commented on #100
Cheers! This is now implemented! See the video:

https://user-images.githubusercontent.com/17418737/133873082-63f324eb-aeb3-4958-a1e5-9f13c2d03fb7.mp4

[2021-09-27 11:59] #91 closed

[2021-09-27 12:00] flamendless commented on #91
Here is an example of how to use this new feature:
[code]

[2021-11-08 12:53] FlamingArr commented on #35
Yeah this issue seems to be solved now though the `Input` still doesn't work 🤔, the contents of a `Input` is wiped if the enter key is pressed on gboard or the window is moved

[2021-11-08 12:58] FlamingArr commented on #35
In the meantime, docks are not working either, they worked before. I can programatically dock/undock windows but doing it through the UI doesn't work

[2021-11-09 04:49] flamendless commented on #35
Thanks for the updates @FlamingArr , will test it as soon as possible.

For the `Input` i think it's the sane behavior? Pressing enter should trigger like a next or proceed event so the text gets cleared :thinking:  I'll think about what's the best way for it. Let me know if you have any suggestion.

For the docks, i think it has something to do with touch events in Android acting differently. Thi

[2021-11-10 13:05] FlamingArr commented on #35
Thinking about it, I think `Enter` clearing the text is sane behaviour but moving the window around should not clear the text I guess?

[2021-11-10 17:16] flamendless commented on #35
This behavior doesn't happen on desktop right? 🤔 If so, then i think it's due to the input losing focus when the window is touched and that clears it as well. That is indeed not a sane behavior

[2021-11-17 03:48] zhengying opened #101 "content touch scroll not supported"
Good library, even on the mobile device!
but I found a problem in android, the list control can't scroll when touching content,
I think this is a basic function in mobile devices.
this library is maybe the best love2d library, Any plan to improve mobile usability?

[2021-11-17 07:57] flamendless commented on #101
Hi there, thanks for reporting, I'll add this soon.

About mobile usability, it's not easy for me to test for mobile as there are compilation steps required for mobile so development for mobile might take time from me.

Ofcourse, PRs are welcome :)

[2021-11-17 12:03] zhengying commented on #101
Thanks for your fast response,
I will use Slab in my project, Thanks for your great work!

[2021-12-19 02:27] flamendless commented on #100
Improved by adding "maximize" version

https://user-images.githubusercontent.com/17418737/146661402-e25e9ee9-3bd3-41b9-8bc2-6a53eb8d2f4b.mp4

[2021-12-20 00:44] megagrump opened #102 "Clicks get dropped at low framerate"
Using `love.mouse.isDown` is not sufficient for reliable click detection. Clicks may occur between mouse sampling points and go unnoticed by the game/application.  The lower the framerate, the higher the probability that this happens.

Solution: use `love.mousepressed` and `love.mousereleased` instead, and make sure the click event has an effect even when `mousereleased` gets called in the same fr

[2021-12-20 00:50] megagrump opened #103 "Excessive garbage buildup"
Parts of the code use temporary tables and string concatenation in every frame. This leads to huge buildup of garbage, sometimes megabytes per second.

As a first step to improve this, the use of temporary tables should be minimized. [Example](https://github.com/flamendless/Slab/blob/97f8df3dc5803566650a6bc98cf27539c4a5b6b0/Internal/UI/Button.lua#L52)

[code]

This should say

[code]

where EMPTY

[2021-12-20 00:55] megagrump commented on #103
[Another example](https://github.com/flamendless/Slab/blob/97f8df3dc5803566650a6bc98cf27539c4a5b6b0/Internal/UI/Window.lua#L698)

This string should be cached in `ActiveInstance` if possible instead of regenerating it every time.

[2021-12-20 08:32] flamendless commented on #103
Thank you! I'll work on this one

[2021-12-20 08:34] flamendless commented on #102
I'd probably leave this one for you as I don't have any idea how to solve this as i haven't yet experienced this issue in love 🤔

[2021-12-20 08:42] megagrump commented on #103
After looking at the code in more detail I realize it's going to be a bit more complicated.

[This](https://github.com/flamendless/Slab/blob/97f8df3dc5803566650a6bc98cf27539c4a5b6b0/Internal/UI/Button.lua#L53-L65) part should use `local`s instead of modifiying the Options table (which would modify the Empty table if no options were given). I'm gonna make those changes to `Button` as a test to see

[2021-12-20 08:45] megagrump commented on #102
You can test this by adding `love.timer.sleep(.2)` at the bottom of `love.draw` in `main.lua`. It's gonna be pretty difficult to click anything.

The same problem was apparently occuring in [`Keyboard.lua`](https://github.com/flamendless/Slab/blob/97f8df3dc5803566650a6bc98cf27539c4a5b6b0/Internal/Input/Keyboard.lua#L69-L71). The same solution would work for the mouse.

[2021-12-20 08:55] megagrump opened #104 "Buttons and Scrollbar overlapping other Widgets"
In the demo, some buttons are overlapping and hiding parts of the text in the Window. The scrollbar is overlapping the button of DropDown list.

![image](https://user-images.githubusercontent.com/31128870/146739653-bea6626a-1857-4e98-9d10-05bdc5705999.png)

[2021-12-20 09:24] flamendless commented on #103
Great! I'll use your test as a reference as well

[2021-12-20 10:35] flamendless commented on #104
Thanks for reporting this. I'll look into this as soon as possible

[2021-12-20 11:14] megagrump commented on #104
I have noticed that the behavior is not consistent between runs. Sometimes the text is behind the buttons, other times it's not.

[2021-12-20 11:25] flamendless commented on #104
Hmmm yes you are right. I cant reproduce this issue on my machine :thinking: weird.

In the screenshot above, it is weird that the text is not using the whole line when there is  still a lot of space available

[2021-12-20 11:30] megagrump commented on #104
If you add `love.timer.sleep(.5)` to `love.draw` in the demo, then resize the window, you can watch the text getting wrapped into place over many frames. That's pretty weird and may be the cause of the issue.

[2021-12-20 11:35] flamendless opened #106 "Web demo using love.js"
Im thinking of providing a web demo version of this lib so users can easily check the widgets around. Probably with love.js.

I'll start with this after the v1.0.0 release that will come with major performance improvements.

[2021-12-20 12:53] megagrump commented on #104
Ooof my apologies, I accidently ran this on an older 11.4 in-development version that had a bug in its text wrapping/rendering code. That was also the reason why the text is so blurry in the screenshot. It's all good!

[2021-12-20 14:58] flamendless commented on #104
The scrollbar behavior is the same as with dearimgui so i think that is okay 🤔 i dont see any issue about that in dearimgui too

[2021-12-20 15:31] megagrump commented on #104
Let's look at this from the usability angle: suppose you have a small widget that is completely obstructed by the scrollbar. You can't click it. Is this a bug or not?

I can't speak about DearIMGUI's bugs, but emulating them seems like a questionable design goal.

[2021-12-20 16:22] flamendless commented on #104
Hmm indeed. Slab doesnt have to follow every dearimgui design so yeah we can fix that scrollbar issue but i have some concerns:
* Only widgets that will be obstructed by the scrollbar should resize the width
* Text is okay to be obstructed coz I'm thinking that if text will trigger resize, the window will continually resize. Perhaps another approach to this is to break at the nearest word to next

[2021-12-21 07:57] megagrump opened #110 "Slab.ini file created in unexpected location"
Running the Slab demo from `/home/me/projects/Slab` with `love .` will create `/home/me/projects/Slab.ini` (one directory up). I haven't tested what happens on other platforms.

I suppose the intent is to create the file next to the `.love` or `.exe` file? This can fail in many cases; the user might not have write access to that location. For example, if you distribute your game as a Linux package

[2021-12-21 08:05] megagrump commented on #103
Closed? What about the rest of the code, lol

[2021-12-21 08:24] flamendless commented on #110
Oh yeah I forgot about this one. It happens to me as well on Linux.

Yeah this sounds good.

[2021-12-21 08:26] flamendless commented on #103
I thought it was the PR closed. My bad.

[2021-12-21 08:32] megagrump commented on #103
- [x] `Button`
- [ ] `CheckBox`
- [ ] `ColorPicker`
- [ ] `ComboBox`
- [ ] `Dialog`
- [ ] `Dock`
- [x] `Image`
- [ ] `Input`
- [ ] `LayoutManager`
- [ ] `ListBox`
- [ ] `Menu`
- [ ] `MenuBar`
- [ ] `MenuState`
- [ ] `Region`
- [ ] `Seperator`
- [ ] `Shape`
- [x] `Text`
- [ ] `Tooltip`
- [ ] `Tree`
- [ ] `Window`

[2021-12-21 09:51] flamendless commented on #110
I think my commit for this is sufficient

[2021-12-21 09:52] #110 closed

[2021-12-21 18:20] megagrump opened #112 "Clicking a tree node affects unrelated tree nodes"
In the Slab demo: Click `Debug`/`DrawCommands`, then expand all top level categories in the window:

![image](https://user-images.githubusercontent.com/31128870/146979139-5e95be3b-8f61-4e6d-847d-8b08e3a63aea.png)

Click on one of the nodes named `Channels`:

![image](https://user-images.githubusercontent.com/31128870/146978948-8de4ca28-7f38-4932-939a-03890e7868c7.png)

Note how *all* `Channels` ch

[2021-12-21 18:24] megagrump commented on #102
This is now fixed for clicks, but still an issue when resizing a window at low framerates. Possibly other places too.

[2021-12-21 20:44] flamendless commented on #112
Hmm i think this is due to them having the same id "Channels" though i expected that a child node should have a different internal key from push/pop tree id 🤔 i thought slab already does tree id handling

[2021-12-21 23:45] megagrump opened #113 "Wrong "Channel Count" in DrawCommand stats"
Looking at issue #112, the "Channel Count" statistics is not accurate. It shows a value of "0" for every layer even though there are obviously more than 0 channels in some layers (otherwise no UI would be visible on screen).

The `GetLayerDebugInfo` function in `Internal/Core/DrawCommands.lua` is faulty. It uses the length of the `Layer` table for statistics, which is always 0 - it's a hash table

[2021-12-22 03:55] flamendless commented on #113
Hmm right 🤔 i dont even know what channel is for in this context. I think it's just for demoing tree nodes but then again if i remember correctly there are other demos for nested tree nodes.

I'll take a closer look later and see if i can figure out its purpose. If not found, I'll remove it.

[2021-12-22 07:19] megagrump commented on #113
Please leave it alone for the time being, until I'm done working on the DrawCommands module. It may fall all into place if I understand it better, and it may just need a better name.

[2021-12-22 11:41] flamendless commented on #113
@megagrump i got an email notif about the styling issue but i dont see it anywhere. Did you delete it?

[2021-12-22 11:42] megagrump commented on #113
https://github.com/flamendless/Slab/discussions/111#discussion-3759134

[2021-12-22 12:10] flamendless commented on #113
Still cant. I get "no commit found for the ref 111"

[2021-12-22 12:13] megagrump commented on #113
Just click the link, lol

[2021-12-22 12:15] flamendless commented on #113
@megagrump yeah i click it and it doesn't redirect anywhere

[2021-12-22 12:16] megagrump commented on #113
https://github.com/flamendless/Slab/discussions/111#discussion-3759134

[2021-12-22 13:00] megagrump opened #115 "Docking not working"
I can't dock any window to any side of the screen in SlabTest. Dragging a window over one of the dock indicators does nothing. The indicator gets highlighted but nothing else happens.

Doing it programmatically like this:
[code]
...makes the Window disappear, no matter if `left`, `right` or `bottom`.

[2021-12-22 13:40] flamendless commented on #115
Hmm my commit for making dock work programmatically might have caused this issue. Will check soon

[2021-12-23 00:16] flamendless commented on #115
Were you using `WindowToDock` with the `SlabTest`?

Have you checked this https://github.com/flamendless/Slab/wiki/Dock#windowtodock ? this works for me

[2021-12-23 02:36] flamendless commented on #112
I think a push/pop id internal to `Tree` would be ideal to avoid conflicting IDs if nested. I'll wait for you to finish the changes in Tree module before I implement it

[2021-12-23 06:31] megagrump commented on #115
It's not caused by my changes. Every bug I report is double-checked against the released 0.9.0 code.

I tested `WindowToDock` in `SlabTest`. The window disappears.

[code]

[2021-12-23 08:32] flamendless commented on #115
I checked previous commits (before your changes) and yeah dragging wasn't working then. Weird that on a simple window it works but on SlabTest it does not 🤔 I'll have to do more digging

[2021-12-23 10:22] flamendless commented on #110
I have updated the API and made more examples in the snippet in the wiki

[2021-12-23 10:32] flamendless commented on #115
@megagrump  figured out the problem, you should be using `Left`/`Right`/`Bottom` (uppercase first character). I tested it on SlabTest and it works for me

![image](https://user-images.githubusercontent.com/17418737/147227717-7c25afeb-6f9e-4df1-af84-63702d0a2215.png)

[2021-12-23 10:58] flamendless commented on #10
Hi @belohlavek is this issue still unsolved with the latest release?

[2021-12-23 11:55] megagrump commented on #115
`SlabTest` crashes on quit for me now:

    Error: /Internal/UI/Dock.lua:350: table index is nil

[2021-12-23 12:11] megagrump commented on #115
1. Dock window programmatically
2. Undock it with mouse
3. Window can not be moved anymore
4. `table index is nil` crash on exit

[2021-12-23 13:38] flamendless commented on #115
@megagrump hmm never encountered this one. How to repro this, what does "if the window was not docked"?

[2021-12-26 02:12] flamendless commented on #115
I tried reproducing it using these steps. I didnt encounter number 3 as I can still freely move the window around. I get the error at number 4.

[2022-01-04 01:40] flamendless commented on #115
About this issue, I'll fix this as soon as your refactoring of the Window is done so there won't be conflicts if we work on the same file at the same time.

[2022-01-07 04:22] flamendless opened #121 "Layout Columns issue with heights"
Just like in DearImGui, we probably need `SmallButton` to make buttons aligned with text in a layout column.
Code snippet below:
[code]
shows
![image](https://user-images.githubusercontent.com/17418737/148491047-848f546d-2bac-4467-9e81-78af24b347d6.png)

---

DearImGui solves this by allowing `SmallButton` which takes the same height as font (i assume) so it would be equal to the height of the tex

[2022-01-11 03:26] flamendless opened #123 "Vertical Scrollbar is unclickable"
[code]
makes a small window with a long content. Clicking on the vertical scrollbar does not do anything.

@megagrump  is this affected by the recent changes in other widgets?

[2022-01-11 03:47] #123 closed

[2022-01-11 03:47] flamendless commented on #123
Fixed now, it was just a typo with the casing haha

[2022-01-12 09:06] megagrump commented on #115
Docking the main window to the right side of the screen does not look correct for me in SlabTest. Most of the window goes off the right side of the screen.

I still can't move the window after undocking.

Dock to the bottom, undock and quit the app. After restart: the window is in a weird position that makes it unusable. Only way to get out of this state is by deleting the saved ini file.

[2022-01-12 11:44] flamendless commented on #115
Whats your whole test file?

[2022-01-12 13:36] megagrump commented on #115
https://github.com/flamendless/Slab/blob/master/SlabTest.lua

[2022-01-14 11:20] pakeke-constructor opened #125 "Allow parsing of `Input` strings for passwords"
Currently, if you type in an `Input` box, the string is shown, no matter what.
This is bad for stuff like passwords!

A good feature to have would be to add some options to obscure text.

Proposed example:
[code]

[2022-01-14 13:15] flamendless commented on #125
https://user-images.githubusercontent.com/17418737/149521028-34ae58d8-7d55-4727-8f32-a99e682b1e9d.mp4

Here's a WIP for now that's usable :) Will improve soon after refactorization from megagrump

[code]

[2022-01-14 23:50] pakeke-constructor commented on #125
Awesome!! This looks great- I’m really appreciative of the fast response, and all the effort you guys put in to this library.
Feel free to close this whenever you are happy with it

[2022-01-15 01:15] flamendless commented on #125
Not yet complete though. I still have to mask the text when the user selected it and is typing on it

[2022-01-18 04:07] youssefsahli opened #126 "GetMousePosition() gives the same result as GetMousePositionWindow()"

[2022-01-18 10:46] flamendless commented on #126
Will look on this. Thanks for reporting

[2022-01-19 14:31] flamendless commented on #126
@youssefsahli upon further investigation, it appears that there is actually no problem with this. Here are the descriptions of the API

here is a sample test case:
[code]

if you test this, the two functions will return the same value if the viewport is not scrolled. Scrolling it down, thus changing the viewport, you will see that the values returned are now different.

Note that using the two met

[2022-01-20 14:37] megagrump commented on #103
FYI: I will stop contributing to any love2d related project, including this one. You can say thanks to slime for this. His inability to handle criticism, and him being a shitty person in general made me quit this community.

Can you undo all my commits to this project? I don't want to be part of it anymore.

[2022-01-20 22:24] youssefsahli commented on #126
Oh sorry, I thought these were functions returning the coords of the mouse inside the window: by that I mean if the mouse is in the top left corner of the window, the function returns 0, 0

[2022-01-21 00:09] flamendless commented on #126
No, windows in this context are Slab windows. if you want of get the coordinates of the main window, you can use the `love.mouse.getPosition` function

[2022-01-21 00:13] flamendless commented on #103
Ohhh sad to hear this. I'll take it from here then, thank you for the contributions

[2022-01-21 02:17] flamendless opened #127 "Major refactor and improvements"
- [ ] `Button`
- [ ] `CheckBox`
- [ ] `ColorPicker`
- [ ] `ComboBox`
- [ ] `Dialog`
- [ ] `Dock`
- [ ] `Image`
- [ ] `Input`
- [ ] `LayoutManager`
- [ ] `ListBox`
- [ ] `Menu`
- [ ] `MenuBar`
- [ ] `MenuState`
- [x] `Mouse`
- [ ] `Region`
- [ ] `Seperator`
- [ ] `Shape`
- [ ] `Text`
- [ ] `Tooltip`
- [ ] `Tree`
- [ ] `Window`
- [ ] `DrawCommands`

[2022-01-22 13:57] youssefsahli commented on #126
What I mean is:

When the cursor is here (see screenshot), I thought GetMousePositionWindow gives the relative position of the cursor inside the Slab window

![Screenshot from 2022-01-22 14-56-59](https://user-images.githubusercontent.com/4016359/150641273-e668b148-8266-42d3-9aee-b83a61161ab3.png)

[2022-01-22 14:07] youssefsahli commented on #127
snake_case would be better since a lot of libs are using it(penlight, batteries), this wouldn't break code style too much.. Others use camelCase though

[2022-01-23 00:59] flamendless commented on #127
For existing users it would, we would have to change a lot of the fields we pass as options to the widgets from PascalCase to snake_case (see example snippet above)

[2022-01-23 02:54] flamendless commented on #126
Hmmm what's the usecase? You can easily get that by doing:

[code]

If i can know a good usecase for this, I will add this in the API :)

[2022-02-07 18:51] megagrump commented on #103
Save the effort and leave them be, it's not important. I overreacted a little bit. No need to generate more work for you - no one would benefit from it.

[2022-02-08 07:33] flamendless commented on #103
Sadly i already did a lot of work undoing them

[2022-03-13 02:20] BrandonBlankerLim-it commented on #127
As suggested in Discord by pakeke. We could add a option that either errors on `PascalCase` usage or prints out warning about it that it will be deprecated in future version.

[2022-03-16 12:33] frissyn opened #129 "How to use `FileDialog` in `MenuItem`?"
I'm using Menus and FileDialogs to create a `File > Open` functionality in the Main Menu (like Microsoft Word, Photoshop, etc.). A sample of the code looks this:

[code]

Assuming that `slab.FileDialog` needs to be called every frame I need it open, `GUI.state.dialog.popOpen` is set to `true` in the `love.load` function, and is only set to `false` after the user has responded.

![image](https://us

[2022-03-16 16:36] frissyn commented on #129
After reading through the docs more thoroughly and messing around bit more, it seems that `FileDialog` can't be called inside an `if slab.MenuItem(...) then` block because it will only be true for the duration of the click.

I've moved the `FileDialog` call to `love.update`, and the `MenuItem("Open")` will set `GUI.state.dialog.popOpen` to `true` on user click, which solves my issue.

Really impre

[2022-03-17 11:04] flamendless commented on #129
Glad you figured it out :) immediate mode UI can take a while to fully grasp how to do things around but once you get it, it'll be a breeze afterwards.

Thanks for the kind words :) credits to the original developer of this library

[2022-03-18 15:30] frissyn opened #130 "Documentation and behavior for some elements unclear?"
In the Slab documentation for [`Slab.BeginWindow(...)`](https://github.com/flamendless/Slab/wiki/Window#BeginWindow) a number of options are listed, but the side effects of each option being enabled/disabled are a bit unclear. Nothing is a major overlook, but I did have to spend of bit of time playing around with the options to come to right conclusions.

+ If `AutoSizeContent` is set to `false`,

[2022-03-19 09:13] flamendless commented on #130
Thank you :) I'll update the wiki according to your findings

[2022-03-21 15:30] frissyn commented on #127
Being able to use different fonts for different `Slab.Text(...)` calls would be nice, or just changing the size at least.

[2022-03-22 02:19] flamendless commented on #127
can you show a minimal code example of how you suggest the improvements in the API would look like so i can get a better grasp of it?

[2022-03-22 11:36] frissyn commented on #127
@flamendless Currently, all text rendering is used with the last font object pushed to the font stack. It'd be really beneficial to be able to change what font is used for different text calls. Something like this:

[code]

[2022-03-22 13:28] flamendless commented on #127
Im not too keen with the stack approach as it could be harder to maintain and debug for the user. I prefer passing `font` as arg in the table param of `Slab.Text`. I'll add that in the next major release v1.0.0 :)

[2022-03-22 14:10] frissyn commented on #127
Sounds good! If you're planning on deprecating the `Slab.PushFont(...)` function, will there be some other way to set a "default" font, so the `{Font = ...}` option doesn't have to be passed everytime?

[2022-03-27 02:16] flamendless commented on #127
Update: `ComboBox` will have a breaking change in API.
Previously:
[code]

In v1.0.0 release:
[code]
This is to optimize and save table allocations when just using the default `ComboBox` by not having to create garbage table just for the necessary `Selected` option.

Furthermore, I would probably change other API to extract necessary option(s) from the table as a required parameter to the function

[2022-03-29 15:07] #130 closed

[2022-03-29 15:50] frissyn commented on #127
I wanted to test if `v1.0.0` was in a working alpha state for me to use, so I cloned the repository as a submodule and tried to run one of my existing projects that use Slab, and I ran into a require error:

[code]

The `require` line at [`Internal/Input/Mouse.lua#L32`](https://github.com/flamendless/Slab/blob/v1.0.0/Internal/Input/Mouse.lua#L32)

should be:
[code]
(a `.` was missing from `"Intern

[2022-03-30 01:50] flamendless commented on #127
Weird. The path doesn't error for me. Thanks for the heads up!

this hasn't been implemented yet in the `v1.0.0` branch.

This should be fixed with the recent commit #ec1ef14d67fa99e699497d7a7754daab5def9264
Maybe by the time you tested the branch it wasn't still pushed.

Indeed, I have refactored each module already though, I just need to test and fix errors that came with the improvements.

Than

[2022-04-19 01:39] flamendless commented on #127
So far with the changes, no more error. The only issue is not all of the widgets are drawn (SlabTest). It seems that v1.0.0 release is coming close!

(I try to squeeze in slab development with my free time during the weekends so i don't have that much time like before haha)

[2022-04-19 16:29] MatthewBlanchard opened #131 "Add a Label override to Slab.Button's Options table."
The item id of a button is tied to a it's label. Sometimes I want multiple buttons with the same label, but that causes issues with hover events. Label override would let you use the first string argument to button as an ID.

[2022-04-20 01:44] flamendless commented on #131
Will add this API for the `v1.0.0` release:
[code]
if no `opt.Label` is passed, the `id` and the `label` will be the first argument "id"

[2022-04-28 02:29] dcuny opened #132 "Color Picker in Window Demo Expands Horizontally"
In the Slab demo, in the **Window** portion, at the bottom of the window there's a button labeled **Change Background Color**.

Clicking the button causes the **Color Picker** to pop up.

If the **Color Picker** is undocked, it will expand horizontally past the width of the window.

[2022-04-28 02:34] dcuny opened #133 "Windows Are Unaware of the Menu Bar"
Windows can be dragged up so the window's titlebar is behind the menubar.

If you release the window during a drag and it's behind the menubar, there's no obvious way to put it back into position.

[2022-04-28 06:26] flamendless commented on #133
Thanks for reporting this. This will be fixed and released along v1.0.0

[2022-04-28 06:26] flamendless commented on #132
Thanks for reporting this. Docking still has a lot of bugs. Hopefully after v1.0.0 release we can focus on improving and fixing docks

[2022-05-24 12:40] ashifolfi opened #134 "Menu bar just doesn't work in a window when it should"
https://user-images.githubusercontent.com/29577987/170036314-208e0e06-5e29-4b9d-9150-4113e863cdf0.mp4

When I attempt to use a menubar inside a window not only does it look very funky but if I moved the window the menubar goes behind it.

But most importantly if I click ANYTHING in the menubar I get an error about not having EndWindow() even though I do.

This is a very bruh moment.

[2022-05-24 12:42] ashifolfi commented on #134
Also I would like to add the same result occurs even if I don't have an if statement for begin window and just have it on it's own. Except for one thing. The menu bar now appears even when the window is closed.

[2022-05-24 16:42] flamendless commented on #134
Please show minimal code that shows the behavior you raise has the issue

[2022-05-27 14:19] ashifolfi commented on #134
apologies for the wait!
[code]
here is a stripped down variant of the window that I found this issue with.
Just put `lvledit:drawMain(dt)` inside a standard slab setup alongside this code and it should trigger the issue.

[2022-05-27 14:21] ashifolfi commented on #134
NOTE: Though this differs slightly from that that you can see in the recording it does indeed still trigger the issue for me.

[2022-05-30 02:02] flamendless commented on #134
Sorry for the late response, you need `Slab.EndMenu()`.
[code]

[2022-05-30 02:02] #134 closed

[2022-07-25 15:00] chicogamedev commented on #12
It happens when the user clicks on a previous folder in the navigation bar at the top.

It's pretty bad because the user need to go back to the disk root to navigate again to the wanted directory to be able to see the folder's content.

The "back one folder" button works correctly.

[2022-07-25 15:24] flamendless commented on #127
This was also an error raised previously which should be fixed right now. Is your `v1.0.0` branch up-to-date?

[2022-07-25 15:25] chicogamedev commented on #127
Yes I just fetched it 20 min ago.

For information TablePool.lua is present in the internal.core folder.

[2022-07-25 15:27] flamendless commented on #127
Development of `v1.0.0` is taking a long break since I have been really busy with work + 3 side projects.

The only thing we are missing for this major release is some functionalities are not working anymore like resizing a window with mouse + other stuff I have not yet fully tested.

It would be great if someone can do a full test and list here the things that are broken so that other people can

[2022-07-25 15:29] flamendless commented on #127
I'm confused, is it still not working? I just pulled the latest branch and it's working for me.

What OS are you using?

[2022-07-25 15:32] chicogamedev commented on #127
I'm on macOS.

The top most result of git log :

[code]

[2022-07-25 15:39] flamendless commented on #127
Weird, I just got the error. Sorry. Pushed a fix now :)

[2022-07-25 15:43] chicogamedev commented on #127
You're amazing thanks for your help.

Sadly I have another one right behind.
Do you want me to start another issue for each error I find or I just post it right here ?

[2022-07-25 15:50] flamendless commented on #127
You may put the errors you find in a single and separate issue :)

[2022-07-25 15:58] chicogamedev opened #135 "[v1.0.0] - Listbox error"
I have this piece of code :

[code]

I got this error (not with current released version of Slab) :

Error: libs/slab/Internal/UI/ListBox.lua:151: Begin was called for item 'nil' without a call to EndListBoxItem
stack traceback:
	[love "boot.lua"]:345: in function <[love "boot.lua"]:341>
	[C]: in function 'error'
	libs/slab/Internal/UI/ListBox.lua:151: in function 'BeginItem'
	libs/slab/API.lua:16

[2022-07-25 16:03] flamendless commented on #135
You should be using `BeginListBox` and `EndListBox` before calling `BeginListBoxItem`

[2022-07-25 16:07] chicogamedev commented on #135
Yeah sorry since the error was not here with the older version of Slab, these calls are around the given code. Sorry for not showing them.

[code]

[2022-07-25 16:15] flamendless commented on #135
Indeed, there is an error in latest commit. Will fix soon

[2022-07-25 16:17] chicogamedev commented on #135
Thanks !

[2022-07-25 16:17] #135 closed

[2022-07-25 16:23] flamendless commented on #135
Fixed now :)

[2022-07-25 16:30] chicogamedev opened #136 "[v1.0.0] - All buttons text are completely off"
Does not happens with the **master** version of Slab :

<img width="1392" alt="Capture d’écran 2022-07-25 à 18 28 12" src="https://user-images.githubusercontent.com/6854475/180828539-f76d4881-a1e2-48e8-9b36-a5430f8e4e11.png">

[2022-07-25 16:33] chicogamedev commented on #136
Actually my whole interface is completely broken :
<img width="1392" alt="v1 0 0" src="https://user-images.githubusercontent.com/6854475/180829093-73ad666d-100e-4ead-9ec2-b8cfb8988c3a.png">

Master version :

<img width="1392" alt="Master" src="https://user-images.githubusercontent.com/6854475/180829148-deed10aa-eab3-45f5-9df5-6e29d6c4eafc.png">

[2022-07-25 16:34] chicogamedev commented on #136
Important to note that the open file dialog is completely broken too. Maybe the usage have changed between **Master** and **v1.0.0** ?

[2022-07-26 01:30] flamendless commented on #136
Please show reproducible code we can use to replicate this one

[2022-07-26 02:06] flamendless commented on #131
Hi, this has been committed now to the `v1.0.0` branch

[2022-07-26 02:06] #131 closed

[2022-07-26 02:18] #126 closed

[2022-07-26 02:50] flamendless commented on #136
Should be fixed now.

[2022-07-26 02:50] #136 closed

[2022-07-26 03:20] flamendless opened #137 "Checkbox not rendering in correct position"

[2022-07-26 03:47] #137 closed

[2022-07-26 12:41] chicogamedev commented on #136
It is ! Thanks

[2022-07-26 12:43] chicogamedev opened #138 "[v1.0.0] - File opening dialog completely broken"
https://user-images.githubusercontent.com/6854475/181008343-f0348253-e1f4-4b1f-bf28-8fd0f899737d.mov

This little video should speak for herself.

[2022-07-26 12:46] chicogamedev opened #139 "[v1.0.0] - Slab.IsVoidHovered() not returning true correctly"
It's for sure not working the same way as on the **master** branch. Is that wanted ?

[2022-07-27 01:59] flamendless commented on #139
Please provide a minimal reproducible code we can use to test and verify the fix :)

[2022-07-27 03:23] flamendless commented on #138
Will fix as soon as possible

[2022-07-27 03:38] flamendless commented on #139
Should be fixed now

[2022-07-27 03:39] #139 closed

[2022-07-27 04:43] chicogamedev commented on #139
Thanks for your correction, sorry for no context and code I was on the rush and it asked a bit of preparation to provide a usable context.

Thanks for great work. Hope this v1.0.0 will be the best possible 👊🏼🤘🏼

[2022-07-27 07:03] flamendless commented on #139
Thank you for raising issues as well, it helped me narrow down, find, and fix bugs that sometimes are common to other bugs as well. _Looking at you `Region.IsScrolling()`_

[2022-07-29 02:43] Shadowblitz16 opened #140 "Looks suggestions"
To begin let me say I like the idea behind this library
However I've noticed that this libraries default theme very unprofessional.

I have a few suggestions how to possibly make it look a bit better.

- Get rid the the thick rounded borders make it flat rounded and possibly in the future when (and if) you support themes allow border and rounding size for all four cardinal directions.

- Make chec

[2022-07-29 02:49] flamendless commented on #140
Hi there, appreciate the points you raise there. You can make a PR with your desired theme changes and we will check if that is better looking :)

You can refer to this: https://github.com/flamendless/Slab/wiki/Style

[2022-08-02 02:11] pakeke-constructor opened #141 "Scaling the UI"
The UI needs to be able to be scaled.

I'm happy to work on this.
As discussed on the LOVE discord, I think we should add a "Scale" field inside of the options table

[2022-08-02 02:30] flamendless commented on #141
This would really be a great feature! Thanks.

[2022-08-08 04:50] flamendless commented on #125
Is implemented for `v1.0.0` (6ad832659dabf744212ad3baafddeb6cc4f14b96)

[2022-08-08 04:50] #125 closed

[2022-10-08 15:40] boris-741 opened #142 "exaple wan't start"
on launching the main.lua (copy of github) - I get an error: (v 1.0.0) love 11.4

Error

/Internal/UI/ComboBox.lua:86: selected must be of type string

Traceback

[love "callbacks.lua"]:228: in function 'handler'
[C]: in function 'assert'
/Internal/UI/ComboBox.lua:86: in function 'BeginComboBox'
SlabTest.lua:2520: in function 'Begin'
main.lua:37: in function 'update'
[love "callbacks.lua"]:162: in

[2022-10-09 01:16] flamendless commented on #142
Hi, thanks for reporting. What branch did you download?

[2022-10-10 07:07] boris-741 commented on #142
current - 4807bbf
love - 11.4

[2022-10-10 13:32] flamendless commented on #142
Hi, what are the steps to reproduce this error? Launching the sample works fine for me

[2022-10-10 15:00] boris-741 commented on #142
1. clone the repository
2. go to root folder
3. launch mine.lua
OS Windows 10

version 0.9 starts as expected

[2022-10-15 04:27] flamendless commented on #142
Hi, can you show a video replicating this issue? Thank you

[2022-10-17 04:07] flamendless commented on #142
Hi @boris-741  I have found out the issue, turns out you were using the `v1.0.0` branch which is still in development phase, I thought you were using the `main` branch. It's already fixed in the latest commit :) Thank you

[2022-10-17 04:07] #142 closed

[2022-10-25 03:06] flamendless commented on #133
Hi @dcuny , this is fixed now in the `master` branch as well

[2022-10-25 03:06] #133 closed

[2022-10-31 04:27] FriskTheFallenHuman opened #143 "OpenFileDialog has a weird behavior"
I'm having an issue with `Slab.FileDialog` the dialog displays but it instantly closes itself I followed both wiki and SlabTest.lua but both ways trigger this issue here's a video click of the problem in action:

https://user-images.githubusercontent.com/12750944/198930711-a07c00b2-914c-4225-acb4-edd0786e15d1.mp4

here's what the code looks like:

[code]

[2022-10-31 05:06] flamendless commented on #143
Hi, you're supposed to run/call your file dialog function outside of the if statements of your menu. A good way to do this is to set a flag to true when the MenuItem is clicked, then use that flag whether to draw the file dialog or not after the BeginContextMenuWindow scope.

Think of Immediate Mode UIs as happening per frame, if you click the menu item, the file dialog will be drawn, but on the n

[2022-11-11 02:14] pakeke-constructor commented on #141
feature is done,
`Slab.SetScale()` and `Slab.GetScale()` are now available.

[2022-11-11 02:14] #141 closed